body {
  margin: 40px;
  background-color: rgb(255, 210, 210);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image_size {
  height: 200px;
}

#map {
  height: 700px;
}

#business_image {
  height: 50px
}